
*{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}
nav{
    display: flex;
    width: 100%;
    padding: 22px 0px;
    background-color: rgb(31, 31, 31);
    color: white;
    /* justify-content: space-between; */

}
nav .tag{
    padding-left: 100px;

}
.tag h4{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;

}
.nav-list{
    margin-left: 500px;
    /* border: 1px solid white; */
    width: 600px;
}
.nav-list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.nav-list ul li{
    list-style: none;
    font-size: 20px;
    
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
}

section{
    width: 100%;
    margin-bottom: 40px;
}
.main{
    /* width: 100%; */
    background-color: rgb(228, 228, 225);
    display: flex;
    padding: 30px 10%;
}
.main .content1{
    width: 50%;
    /* border: 1px solid black; */
    padding-right: 20px;
}
.content1 h2{
    margin-bottom: 40px;
}
.content1 p{
    margin-top: 10px;
}
.content1 button{
    margin-top: 30px;
    width: 120px;
    border: none;
    /* margin-left: 10px; */
    border-radius: 3px;
    background-color: orange;
    color: white;
    height: 35px;
    font-weight: bold;
}
.main-img{
    width: 50%;
    /* border: 1px solid black; */
}
.main-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* padding-left: 20px; */
}
.heading-tag{
    /* width: 100%; */
    padding: 30px 10%;
}

.sub-content{
    /* width: 100%; */
    /* border: 1px solid black; */
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;

}
/* .card div{
    width: 100%;
    height: 200px;
} */
.card div img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.card h3{
    margin-top: 10px;
    margin-bottom: 20px;
}

.tag-div{
    height: 135px;
    /* border: 1px solid black; */
}

.card button{
    margin-top: 20px;
    width: 120px;
    border: none;
    /* margin-left: 10px; */
    border-radius: 3px;
    background-color: orange;
    color: white;
    height: 35px;
    font-weight: bold;
}
footer{
    background-color: black;
    /* width: 100%; */
    padding: 30px 10%;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer div{
    width: 50%;
    /* border: 1px solid rgb(255, 255, 255); */
}

footer div h4{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}
.footer-post i{
    /* margin-top: 10px; */
    margin-right: 10px;

}
.footer-post h4{
    /* margin-left: 40px; */
}
.stay h4{
    margin-left: 100px;
}
.icon-div{
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width:557px){
    nav{
        width: 100%;
    }
    .nav-list{
        margin-left: 0;
    }
}


