*{
    margin: 0;
    padding: 0;
}

.main-div{
    width: 100%;
    height: 100vh;
}

.sub-div{
    /* border: 1px solid black; */
    width: 40%;
    height: 40vh;
    
}
.input-group1 ,.input-group2,.input-group3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid red; */
}
.input-group1 input,.input-group2 input,.input-group3 input{
    width: 204px;
    height: 102px;
    text-align: center;
    font-size: 50px;
}