*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 0px;
    background-color: grey;
}
header{
    /* border: 1px solid black; */
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 20px;
}
nav{
    /* border: 1px solid black; */
    display: flex;
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    background-color: pink;
}
.nav1 a{
    margin-left: 100px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav2 {
    /* border: 1px solid black; */
    margin-left: 100px;
}
.nav2 input{
    width: 250px;
    height: 32px;
    font-weight: bold;
    
}
.nav2 button{
    width: 70px;
    height: 35px;
    color: white;
    background-color: black;
    cursor: pointer;
}

section{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}
.main1{
    margin-top: 20px;
    width: 70%;
    /* border: 1px solid black; */
    display: inline-block;
}
.main1 h1{
    text-align: center;
    padding: 20px 0px;
    font-family: "Times New Roman", Times, serif;

    
    
}
.main1 p{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
.main1 h2{
    margin-left: 10px;
    margin-bottom: 20px;
    /* font-family: "Times New Roman", Times, serif; */

}

/* Next section */

.main2{
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid black; */
    margin-left: 20px;
    background-color: pink;
    width: 341px;
    height: 513px;
}
.main2 h2{
    margin-top: 20px;
    margin-left: 20px;
}
.main2 ul{
    margin-top: 20px;
    margin-left: 30px;
}
.main2 ul li{
    padding: 20px 0px;
    font-size: 20px;
}

footer{
    padding: 40px 0px;
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    font-size: 20px;
    background-color: white;
}
footer p{
    margin-left: 20px;
    font-weight: bold;
}