*{
    margin: 0;
    padding: 0;
}
.main{
    width: 99.9%;
    text-align: center;
}
.head{
    border: 1px solid black;
    width: 99.9%;
    padding: 40px 0px;
    font-size: 30px;
    font-weight: bold;
}
.main{
    border: 1px solid black;
    width: 99.9%;

}

.index{
    border-right: 1px solid black;
    width: 20%;
    padding: 190px 0px;
    font-size: 30px;
    font-weight: bold;
    display:inline-block;
}
.content{
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding: 190px 0px;
    font-size: 30px;
    font-weight: bold;
    display:inline-block;
}
.footer{
    border: 1px solid black;
    width: 99.9%;
    padding: 50px 0px;
    font-size: 30px;
    font-weight: bold;
}
