*{
    padding: 0;
    margin: 0;
}
body{
    border:3px solid black;
  }
  header{
    text-align:center;
    padding:10px 0px;
    background:pink
  }
  nav{
    text-align:center;
    padding:10px 0px;
    background:blue
  }
  aside{
    display:inline-block;
    background:rgb(163, 11, 85);
    width:30%;
    text-align:center;
    padding:250px 0px
  }
  section{
    display:inline-block;
    background:white;
    width:69.7%;
    text-align:center;
    padding:250px 0px
  }
  footer{
    text-align:center;
    padding:10px 0px;
    background:pink
  }