*{
    margin: 0;
    padding: 0;
    color: black;
    /* background-color: white; */
    
}
body{
    background-color: white;
}

.RegisForm{
    width: 100%;
    
}
.main-div{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

form  {
    width: 35%;
    /* height: 90vh; */
    /* overflow-y: auto; */
    margin-top: 50px;
    /* margin-top: 20px; */
    padding: 20px 20px;
    border-radius: 10px;
    /* text-align: center; */
    background-color: rgb(126, 224, 249);
}
.label-div{
    margin-bottom: 5px;
}
.input-div{
    margin-bottom: 40px;
    /* border: 1px solid red; */
    /* justify-content: space-around; */
}
.input-div input{
    padding-left: 10px;
}
.btn-div input{
    width: 50%;
    border: none;
    padding: 8px 0px;
    background-color: black;
    color: white;
    border-radius: 10px ;
}
/* .login-font{
  
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

} */
.login-main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.sub-div{
    /* border: 5px solid black; */
    width: 55%;
    height: 65vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.content-div input{
    height: ;
}
.image-div{
    height: 65vh;
}
.image-div img{
    width: 100%;
    /* height: 65vh; */
    height: 100%;
    object-fit: cover;
    /* border: 5px solid red; */
}
/* .login-main-div form{
    margin-top: 8%;
    height: 60vh;
    width: 30%;
} */
/* .btn-div{
    display: flex;
    justify-content: center;
} */
/* .btn-div button{
    width: 50%;
    border: none;
    padding: 10px 0px;
    background-color: black;
    color: white;
    border-radius: 10px ;
} */

/* .login-font p{
    align-items: center;
    padding-top: 10px;
} */

.navigate{
    margin-top: 15px;
}


.main-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(160, 160, 160);
    

}
.msg-field{
    width: 50%;
    border: 1px solid black;
    /* height: 80vh; */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: white;
}
.msg-box{
    width: 100%;
    border: 1px solid red;
    height: 70vh;
}
.msg-field input{
    width: 85%;
    height: 40px;
}
.msg-field button{
    width: 15%;
    height: 40px;
}
.msg-list{
    width: 100%;
}

.text-div{
    margin-bottom: 20px;
}


.bubble {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 300px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
    var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
    calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
    0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(135deg,#ffffff,#1384C5) border-box;
    color: #fff;
}
.left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
}
.right {
--_d: 100%;
border-right: var(--t) solid #0000;
margin-left: var(--t);
place-self: end;
}





